
*.icloud
noise_weight_analysis/data/FashionMNIST/processed/.test.pt.icloud
original_notebook_tests/cifar10_exploration/Brevitas/.TrainedBrevitas.pth.icloud
original_notebook_tests/cifar10_exploration/Brevitas/.PynqInHouse2.jpg.icloud
noise_weight_analysis/data/FashionMNIST/raw/.train-images-idx3-ubyte.gz.icloud
noise_weight_analysis/data/FashionMNIST/raw/.t10k-images-idx3-ubyte.gz.icloud
noise_weight_analysis/data/FashionMNIST/processed/.training.pt.icloud
noise_weight_analysis/data/FashionMNIST/processed/.test.pt.icloud
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/batches.meta
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/data_batch_1
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/data_batch_2
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/data_batch_3
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/data_batch_4
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/data_batch_5
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-batches-py/test_batch
noise_weight_analysis/Cifar10/Brevitas/data/cifar-10-python.tar.gz
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/batches.meta
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/data_batch_1
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/data_batch_2
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/data_batch_3
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/data_batch_4
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/data_batch_5
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-batches-py/test_batch
noise_weight_analysis/Cifar10/Brevitas/src/data/cifar-10-python.tar.gz
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/batches.meta
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/data_batch_1
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/data_batch_2
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/data_batch_3
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/data_batch_4
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/data_batch_5
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-batches-py/test_batch
noise_weight_analysis/Cifar10/PyTorch/data/cifar-10-python.tar.gz
